@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Flaticon2";
    src: url("../fonts/fonticon/Flaticon.eot");
    src: url("../fonts/fonticon/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/fonticon/Flaticon.woff2") format("woff2"),
        url("../fonts/fonticon/Flaticon.woff") format("woff"),
        url("../fonts/fonticon/Flaticon.ttf") format("truetype"),
        url("../fonts/fonticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg")
    }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal
}

[class^="flaticons-"]:before,
[class*=" flaticons-"]:before,
[class^="flaticons-"]:after,
[class*=" flaticons-"]:after {
    font-family: Flaticon2;
    font-size: 20px;
    font-style: normal
}

.flaticons-001-delete:before {
    content: "\f100";
}

.flaticons-034-edit-button:before {
    content: "\f121";
}

.flaticons-027-back:before {
    content: "\f11a";
}

.flaticons-019-magic-wand:before {
    content: "\f112";
}

.fimanager:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: block;
}

.flaticon-001-asthma:before {
    content: "\f100";
}

.flaticon-002-bandage:before {
    content: "\f101";
}

.flaticon-003-medical-appointment:before {
    content: "\f102";
}

.flaticon-004-capsule:before {
    content: "\f103";
}

.flaticon-005-condom:before {
    content: "\f104";
}

.flaticon-006-sunscreen:before {
    content: "\f105";
}

.flaticon-007-crutches:before {
    content: "\f106";
}

.flaticon-008-dental-floss:before {
    content: "\f107";
}

.flaticon-009-dropper:before {
    content: "\f108";
}

.flaticon-010-drugstore:before {
    content: "\f109";
}

.flaticon-011-enema:before {
    content: "\f10a";
}

.flaticon-012-bandage:before {
    content: "\f10b";
}

.flaticon-013-gloves:before {
    content: "\f10c";
}

.flaticon-014-glucometer:before {
    content: "\f10d";
}

.flaticon-015-mask:before {
    content: "\f10e";
}

.flaticon-016-first-aid-kit:before {
    content: "\f10f";
}

.flaticon-017-medical-sign:before {
    content: "\f110";
}

.flaticon-018-mortar:before {
    content: "\f111";
}

.flaticon-019-pharmacist:before {
    content: "\f112";
}

.flaticon-020-pharmacist:before {
    content: "\f113";
}

.flaticon-021-medicine:before {
    content: "\f114";
}

.flaticon-022-prescription:before {
    content: "\f115";
}

.flaticon-023-sleeping:before {
    content: "\f116";
}

.flaticon-024-sphygmomanometer:before {
    content: "\f117";
}

.flaticon-025-spray:before {
    content: "\f118";
}

.flaticon-026-stethoscope:before {
    content: "\f119";
}

.flaticon-027-syringe:before {
    content: "\f11a";
}

.flaticon-028-consultation:before {
    content: "\f11b";
}

.flaticon-029-thermometer:before {
    content: "\f11c";
}

.flaticon-030-thermometer:before {
    content: "\f11d";
}

.flaticon-031-thermometer:before {
    content: "\f11e";
}

.flaticon-032-vitamin-c:before {
    content: "\f11f";
}

.flaticon-033-vitamin:before {
    content: "\f120";
}

.flaticon-034-warm:before {
    content: "\f121";
}

.flaticon-035-wheelchair:before {
    content: "\f122";
}

.flaticon-036-whey-protein:before {
    content: "\f123";
}
